body{
background:orange;
}

div{
    position:absolute;
    width:20px;
    height:20px;
	
}
#apple
{
   border:30px solid red;
   right:43%;
   background-color: red;
   border-radius:40px;
   position:center;
   
}   
#friends
{
    border:30px solid purple;
    top:30%;
    right:10%;
	border-radius:40px;
	background-color:purple;

}
#cross
{
    border:30px solid red;
    top:30%;
    left:10%;
	border-radius: 40px;
	background-color:red;
}
#read
{	
   
    border:30px solid yellow;
    top:60%;
    right:10%;
	border-radius: 40px;
	background-color:yellow;
}
#workout
{
    border: 30px solid green;
    top:60%;
    left:10%;
	border-radius: 40px;
	background-color:green;
}
#happypic
  {	border:20px yellow;
	top:40%;
	left:42%;
	border-radius: 30px;
	background-color:white;
	position:relative;
	
	
	
	}
	
img#appleicon{
left:50px;
}
 li.done{
           text-decoration: line-through;
		 
		   
        }
		